<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.andy.server.mapper.ReactionMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.andy.server.pojo.Reaction">
        <id column="id" property="id"/>
        <result column="reactionName" property="reactionName"/>
        <result column="reactionDate" property="reactionDate"/>
        <result column="tag1" property="tag1"/>
        <result column="tag2" property="tag2"/>
        <result column="tag3" property="tag3"/>
        <result column="projectId" property="projectId"/>
        <result column="reactionUrl" property="reactionUrl"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id
        , reactionName, reactionDate, tag1, tag2, tag3, projectId, reactionUrl
    </sql>
    <!--分页获取 reaction-->
    <select id="getReactionByPage" resultType="com.andy.server.pojo.Reaction">
        select tr.*
        from t_reaction tr
                 left join t_project tp on tp.id = tr.projectId
                 left join t_user tu on tu.id = tp.userId
        where tp.userId = #{userId}
          and tr.projectId = #{projectId}
        order by tr.id
    </select>

</mapper>
