/*侧边栏开始*/
aside {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.1);
}

aside p {
    color: #FFFFFF;
    font-weight: bold;
    font-size: 1.8rem;
    padding: 1.65rem 0 1.65rem 5rem;
    background: #DE8D4C url("../../img/shared/flask-white.png") no-repeat 1.65rem 1.8rem;
    background-size: 1.75rem, 2.45rem;
    margin-bottom: 2rem;
    cursor: pointer
}

aside header {
    background: #99C8C9 url("../../img/shared/todolist-head.png") no-repeat 1rem 0.9rem;
    background-size: 1.8rem 2rem;
    border-radius: 0.3rem;
    color: #3B3737;
    font-size: 1.6rem;
    font-weight: bold;
    padding: 0.8rem 0 0.8rem 4rem;
}


aside header > div {
    width: 2.4rem;
    height: 2.4rem;
    background: #99C8C9 url("../../img/reaction/plus.svg") no-repeat center center;
    background-size: 2.4rem 2.4rem;
    display: none;
    cursor: pointer;
}

aside header:hover div{
    display: block;
}

/*在 todolist 上 hove 时显示打叉*/
#todolistContainer > li:hover > .close{
    display: block;
}

.list-group {
    padding: 2rem 0 0 2.5rem;
    height: 14.5rem;
    margin-bottom: 2rem;
}

aside ul img {
    width: 2rem;
    height: 2rem;
}

aside .role:hover .dropbtn {
    display: block;
}

aside .role:hover .close {
    display: block;
}


.role .dropdown > .dropbtn {
    display: none;
}

.close {
    cursor: pointer;
    display: none;
}

.role input {
    margin-right: 0 !important;
}

.role .dropbtn {
    cursor: default;
}

.role .dropdown-content .dropbtn:hover {
    background-color: rgba(135, 135, 135, 0.1);
    cursor: pointer;
}

.role .dropdown img {
    border: 0.1rem solid #3B3737;
    box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
    border-radius: 0 0 1.8rem 1.8rem;
    border-top: none;
}

.role .dropdown > img {
    border: 0.1rem solid #ffffff;
    border-radius: 1.8rem 1.8rem 0 0;
    box-shadow: unset;
    border-bottom: none;
}

.role .dropdown:hover > img {
    border-color: #3B3737;
}

.list-group-item {
    padding: 0 0 1.5rem 0;
    border: none;
    font-size: 1.4rem;
}


.list-group-item input {
    background-color: #ffffff;
    margin: 0 1rem;
    width: 12rem;
    height: 2rem;
    cursor: text;
    border: none;
    padding: 0;
}

.list-group-item input[type='button'] {
    text-align: start;
    width: 11rem;
    cursor: default;
}

/* 下拉按钮样式 */
.dropbtn {
    font-size: 1.6rem;
    border: none;
    cursor: pointer;
}

.dropdown header {
    background: #99C8C9 url("../../img/shared/group-logo.png") no-repeat 1rem 1rem;
    background-size: 2.2rem 1.7rem;
    border-radius: 0;
}

.dropdown header > div {
    background: #99C8C9 url("../../img/shared/droplist.png") no-repeat center center;
    background-size: 1.4rem 0.7rem;
}

/*.dropdown header:not(.dropdown-content header):hover {*/
/*    cursor: default;*/
/*}*/

/*.dropdown header:not(.dropdown-content header) {*/
/*    border-radius: 0.3rem 0.3rem 0 0;*/
/*}*/

.dropdown-content header:last-of-type {
    border-radius: 0 0 0.3rem 0.3rem;
}

.dropdown span:not(.dropdown-content span) {
    width: 80%;
}


/* 下拉内容 (默认隐藏) */
.dropdown-content {
    display: none;
    cursor: pointer;
    position: absolute;
    z-index: 10;
    width: 100%;
    max-height: 33.5rem;
}

.dropdown {
    position: relative;
}

/* 鼠标移上去后修改下拉菜单链接颜色 */
.dropdown-content header:hover {
    background-color: #C1DBDC;
}

.dropdown-content header {
    border-top: 0.1rem solid #badce3;
}

/* 在鼠标移上去后显示下拉菜单 */
.dropdown:hover .dropdown-content {
    display: block;
}

/*.dropdown:hover header:not(.dropdown-content header) {*/
/*    background-image: url("../../img/shared/droplist.png");*/
/*    background-size: 1.4rem 0.7rem;*/
/*    background-position: 17.5rem 1.8rem;*/
/*}*/


/*侧边栏结束*/

/*模态框开始*/
.modal-backdrop.show {
    opacity: 0.2;
}

.modal-content {
    font-weight: bold;
    width: 90rem;
    margin: 0 auto;
    border: 0.1rem;
    filter: drop-shadow(0 0.4rem 0.4rem rgba(0, 0, 0, 0.25));
}

.modal-header {
    border-bottom: 0.1rem;
    background: #FFFFFF;
    box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
}

.modal h5 {
    padding: 0.7rem 0 0.7rem 4rem;
    font-size: 1.8rem;
    font-weight: bold;
}

.modal-body {
    padding: 0;
}

.modal p {
    margin: 6.5rem 5rem 4rem 5rem;
    font-size: 1.6rem;
    padding-left: 2rem;
    border-bottom: 0.1rem solid #828282;
}

.modal label {
    font-size: 1.4rem;
}

.modal input, .modal textarea {
    font-size: 1.6rem;
    color: rgba(99, 130, 113, 1);
}

#addGroupModal h5 {
    background: url("../../img/shared/add-group.png") no-repeat 0 center;
    background-size: 3rem 3rem;
}

#addGroupModal form {
    padding: 0 15.5rem 15rem 15.5rem;
}

.temp input, .temp textarea {
    outline: none;
    width: 70%;
    border: none;
    resize: none;
    background: rgba(99, 130, 113, 0.2);
    box-shadow: inset 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
    border-radius: 0.5rem;
}

.modal-footer {
    border: none;
    padding: 0 23.5rem 4rem 23.5rem;
}

.modal-footer button {
    border: none;
    width: 13rem;
    height: 4rem;
    background: #638271;
    box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.25);
    border-radius: 0.5rem;
    font-weight: bold;
    font-size: 1.8rem;
    color: #FFFFFF;
}

.modal-footer .cancel {
    background: #C4C4C4;
}

label[for='groupID'], label[for='mail'] {
    padding: 0 1.8rem 0 1.8rem;
    margin-bottom: 2rem;
    font-weight: normal;
    font-size: 1.4rem;
    color: #828282;
    background: url("../../img/index/question-circle.svg") 0 center no-repeat;
    background-size: 1.15rem 1.15rem;
}

#joinGroupModal input, #addMemberModal input {
    margin-right: 4rem;
    height: 4rem;
    width: 81.25%;
    border: none;
    background: rgba(99, 130, 113, 0.2);
    box-shadow: inset 0 0.2rem 0.4rem rgba(0, 0, 0, 0.25);
    border-radius: 0.5rem;
}

.modal-body button {
    border: none;
    width: 9rem;
    height: 4rem;
    background: #638271;
    box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
    border-radius: 0.5rem;
    font-weight: bold;
    font-size: 1.8rem;
    color: #FFFFFF;
}

#joinGroupModal h5 {
    background: url("../../img/shared/join-group.png") no-repeat 0 center;
    background-size: 3rem 3rem;
}

#joinGroupModal form, #addMemberModal form {
    padding: 0 7.5rem 22.6rem 7.5rem;
}

#reactionTemplateModal {
    padding: 0 7.5rem 0 7.5rem;
}

#addMemberModal h5 {
    background: url("../../img/shared/add-member.png") no-repeat 0 center;
    background-size: 3rem 3rem;
}

#reactionTemplateModal h5 {
    background: url("../../img/reaction/template.svg") no-repeat 0 center;
    background-size: 3rem 3rem;
}

#reactionTemplateModal form {
    padding: 0 7.5rem 0 7.5rem;
}

#reactionTemplateModal .modal-body button {
    padding: 0 0.6rem;
    margin-right: 2.2rem;
    width: 13rem;
    height: 5rem;
    font-size: 1.6rem;
    font-weight: bold;
    color: black;
}

#reactionTemplateModal .modal-body button:nth-of-type(5n) {
    margin-right: 0;
}

#reactionTemplateModal .userDefined {
    margin-bottom: 2.4rem;
    background: url('../../img/reaction/close.svg') no-repeat right 0;
    background-size: 1.4rem 1.4rem;
}

#shareReactionModal h5 {
    background: url("../../img/project/project-share.png") no-repeat 0 center;
    background-size: 3rem 3rem;
}

#shareReactionModal select {
    font-size: 1.6rem;
    cursor: pointer;

    /*清除 select 默认的小三角*/
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;

    outline: none;
    border: none;
    box-shadow: inset 0 0.2rem 0.4rem rgba(0, 0, 0, 0.25);
    border-radius: 0.5rem;
    background: url("../../img/project/drop.png") rgba(99, 130, 113, 0.2) no-repeat right 0;
    background-size: 4rem 4rem;
    width: 75rem;
    height: 4rem;
    margin-bottom: 10.5rem;
    margin-left: 7.5rem;
    padding: 0.5rem 4rem 0.5rem 0.5rem;
}

#shareReactionModal .modal-body button {

    background-size: 4rem 4rem;
    box-shadow: inset 0 0.2rem 0.4rem rgba(0, 0, 0, 0.25);
    width: 30rem;
    margin-bottom: 10.5rem;
    margin-left: 7.5rem;
    padding: 0;
}


#dialogClose .modal-content {
    width: 30rem;
}

#dialogClose .modal-header {
    border: none;
    box-shadow: none;
}

#dialogClose .modal-header > img {
    width: 3rem;
    height: 3rem;
}

#dialogClose .modal-body {

}

#dialogClose .modal-body > p {
    white-space: unset;
    border: none;
    margin: 0;
    padding: 1rem 1.8rem 2rem 1.8rem;
    font-weight: normal;
}

#dialogClose .modal-footer {
    padding: 0 3rem 2rem 3rem;

}

#dialogClose .modal-footer > button {
    width: 10.4rem;
    height: 2.5rem;
    box-shadow: 0 0.2rem 0.2rem rgba(0, 0, 0, 0.25);
    border-radius: 0.5rem;
    background-color: #ffffff;
    font-weight: 700;
    font-size: 1.6rem;
    line-height: 2rem;
    color: #638271;
    border: 0.1rem solid #638271;
}


#dialogAutoClose .modal-content {
    padding: 1rem 2rem;
    width: 41.5rem;
}

#dialogAutoClose .modal-content[right='right'] {
    color: #638271;
    border: 0.1rem solid #638271;
    border-radius: 0.5rem;
    background: #CDEBD9 url("../../img/shared/right.svg") no-repeat 0 center;
    background-size: 3rem 3rem;
}

#dialogAutoClose .modal-content[right='wrong'] {
    color: #E81224;
    border: 0.1rem solid #E81224;
    border-radius: 0.5rem;
    background: #FFF1F1 url("../../img/shared/wrong.svg") no-repeat 0 center;
    background-size: 3rem 3rem;
}


#dialogAutoClose .modal-body > p {
    border: none;
    margin: 0;
    font-weight: normal;
}

/*模态框结束*/


/*导航栏开始*/
nav {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    font-weight: 600;
    font-size: 1.8rem;
    padding: 1.7rem 0 1.7rem 5rem !important;
    background: #ffffff url("../../img/shared/flask-balck.png") no-repeat 1.5rem 1.8rem;
    background-size: 1.75rem 2.4rem;
    box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
    z-index: 10
}

.breadcrumb-item {
    max-width: 30%;
}

.breadcrumb-item > a {
    color: unset;
    text-decoration: none;
}

/*导航栏结束*/