<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="zh">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link th:href="@{/boostrap/css/bootstrap.min.css}" href="../static/boostrap/css/bootstrap.min.css"
          rel="stylesheet">
    <link th:href="@{/chemlab/css/font.css}" href="../static/chemlab/css/font.css"
          rel="stylesheet">
    <link th:href="@{/chemlab/css/common/common-global.css}" href="../static/chemlab/css/common/common-global.css"
          rel="stylesheet">
    <link th:href="@{/chemlab/css/common/common-index.css}" href="../static/chemlab/css/common/common-index.css"
          rel="stylesheet">
    <title>reset</title>
</head>
<body class="container g-0">
<div class=" row justify-content-center g-0">
    <form class="col-12 g-0 row justify-content-center">
        <img class="col-12 g-0" id="logo" th:src="@{/chemlab/img/logo.png}" src="../static/chemlab/img/logo.png">
        <p class="col-12  g-0" id="welcome" style="padding-bottom: 1rem!important;">Welcome to <span style="color: red">Re</span>-Lab
            !</p>
        <label class="col-12 d-flex align-items-center" for="userName">
            <span>
            Username
            </span>
        </label>
        <input type="text" name="userName" id="userName" th:placeholder="${session.username}" placeholder="XXXXXXX"
               disabled/>
        <label class="col-12 g-0" for="email">
            <span>
            Email
            </span>
        </label>
        <input type="text" name="Email" id="email" th:placeholder="${session.email}" placeholder="XXXXX@gmail.com"
               disabled/>
        <label class="col-12 g-0 d-flex align-items-center" for="password">
            <span style="padding-right: 1rem!important;">
            Password
            </span>
            <img class="img-fluid"
                 src="/chemlab/img/index/uncheck.png" style="width: 1.6rem;height: 1.6rem">
            <span style="display:none;padding-left:1rem;color: red;font-weight: normal"></span>
        </label>
        <input type="password" name="password" id="password" placeholder="6 ~ 20 letters"/>
        <label class="col-12 g-0 d-flex align-items-center" for="secondaryConfirmation"
               style="border: none;padding-bottom: 0!important;">
            <span style="padding-right: 1rem!important;">
             Confirmation
            </span>
            <img class="img-fluid"
                 src="/chemlab/img/index/uncheck.png"
                 style="width: 1.6rem;height: 1.6rem">
            <span style="display:none;padding-left:1rem;color: red;font-weight: normal"></span>
        </label>
        <input type="password" name="secondaryConfirmation" id="secondaryConfirmation" placeholder="password again"/>
        <button type="submit" name="reset" style="margin-bottom: 6rem!important;margin-top: 0.5rem">Reset
        </button>
        <p>
            By clicking “Continue with Google/Email/SAML” above, you acknowledge that you have read and understood, and
            agree to Re-Lab's <a href="javascript:;">Terms & Conditions</a> and <a href="javascript:;">Privacy
            Policy</a>.
        </p>
    </form>
</div>
</body>
<script th:src="@{/boostrap/js/bootstrap.bundle.min.js}" src="../static/boostrap/js/bootstrap.bundle.min.js"
        type="text/javascript"></script>
<script th:src="@{/chemlab/js/axios.min.js}" src="../static/chemlab/js/axios.min.js" type="text/javascript"></script>
<script th:src="@{/chemlab/js/global.js}" src="../static/chemlab/js/global.js" type="text/javascript"></script>
<script th:src="@{/chemlab/js/reset.js}" src="../static/chemlab/js/reset.js" type="text/javascript"></script>
</html>