<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="zh">
<!--header 模板-->
<div th:remove="tag" th:fragment="head(title)">

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link th:href="@{/boostrap/css/bootstrap.min.css}" href="../boostrap/css/bootstrap.min.css"
          rel="stylesheet">
    <link th:href="@{/chemlab/css/font.css}" href="../chemlab/css/font.css"
          rel="stylesheet">
    <link th:href="@{/chemlab/css/common/common-global.css}" href="../chemlab/css/common/common-global.css"
          rel="stylesheet">
    <link th:href="@{/chemlab/css/common/template.css}" href="../chemlab/css/common/template.css"
          rel="stylesheet">
    <title th:text="${title}"></title>

</div>
<body class="container g-0 row" style="margin: 0 auto">
<!--侧边栏和导航栏模板-->
<div th:remove="tag" th:fragment="common">
    <div class="col-2 g-0">
        <!--侧边栏开始-->
        <aside>
            <!--橙色部分开始-->
            <p onclick='window.location.href="/user/"' class="d-flex align-items-center">
            <span title="经过测试，已经限制显示长度" class="userName" style="max-width: 70%;"
                  th:text="${session.user.username}"></span>
                <span>'s EXP</span>
            </p>
            <!--橙色部分结束-->

            <!--todolist部分开始-->
            <div style="padding: 0 2rem">
                <header class="d-flex align-items-center">
                    <span style="width: 80%">To-do list</span>
                    <div id="addTodoList"></div>
                </header>
                <!--点击 todolist 切换图片-->
                <ul id="todolistContainer" class="list-group overflow-scroll"></ul>
            </div>
            <!--todolist部分结束-->

            <!--橙色部分开始-->
            <p onclick='alert("去到指定组")' class="d-flex align-items-center"
               style="background-image: url('../chemlab/img/shared/group.png');background-size: 2.5rem 2rem;background-position:  1.25rem 1.9rem">
            <span title="用户长度限制，中英文不同" class="userName" style="max-width: 55%"
                  th:text="${session.user.username}"></span>
                <span>'s Group</span>
            </p>

            <!--橙色部分结束-->

            <!--lab部分开始-->
            <div style="padding: 0 2rem;">

                <div class="dropdown" style="height:4rem">
                    <header class="dropbtn d-flex align-items-center">
                        <span>Jim Lab1111111111111111111111111111111111111111111111</span>
                        <div id="showGroupList"></div>
                    </header>
                    <div class="dropdown-content overflow-scroll">
                        <header class="dropbtn d-flex align-items-center">
                            <span>Davis Lab</span>
                        </header>
                        <header class="dropbtn d-flex align-items-center">
                            <span>Eggy Lab</span>
                        </header>
                        <header class="dropbtn d-flex align-items-center">
                            <span>Jim Lab11111111111111111111111111111111111</span>
                        </header>
                    </div>
                </div>
                <ul class="list-group overflow-scroll"
                    style="max-height: 33.5rem;height: 33.5rem;padding-right: 0;padding-left:2rem;margin-bottom: 0.5rem">
                    <li class="list-group-item d-flex align-items-center role">
                        <img th:src="@{../chemlab/img/userlogo/jim.png}" src="../chemlab/img/userlogo/jim.png">
                        <input type="button" value="Jim"/>
                        <div class="dropdown">
                            <img class="dropbtn" th:src="@{/chemlab/img/shared/admin.svg}"
                                 src="../chemlab/img/shared/admin.svg">
                            <div class="dropdown-content">
                                <img class="dropbtn" th:src="@{/chemlab/img/shared/people.svg}"
                                     src="../chemlab/img/shared/people.svg">
                            </div>
                        </div>
                        <img class="close" th:src="@{/chemlab/img/shared/close.svg}"
                             src="../chemlab/img/shared/close.svg">
                    </li>
                    <li class="list-group-item d-flex align-items-center role">
                        <img th:src="@{/chemlab/img/userlogo/eggy.png}" src="../chemlab/img/userlogo/eggy.png">
                        <input type="button" value="Eggy"/>
                        <div class="dropdown">
                            <img class="dropbtn" th:src="@{/chemlab/img/shared/people.svg}"
                                 src="../chemlab/img/shared/people.svg">
                            <div class="dropdown-content">
                                <img class="dropbtn" th:src="@{/chemlab/img/shared/admin.svg}"
                                     src="../chemlab/img/shared/admin.svg">
                            </div>
                        </div>
                        <img class="close" th:src="@{/chemlab/img/shared/close.svg}"
                             src="../chemlab/img/shared/close.svg">
                    </li>
                    <li class="list-group-item d-flex align-items-center">
                        <img th:src="@{/chemlab/img/shared/add-member.png}" src="../chemlab/img/shared/add-member.png">
                        <input type="button" value="Add member" data-bs-toggle="modal" data-bs-target="#addMemberModal"
                               style="cursor: pointer"/>
                    </li>
                    <li class="list-group-item d-flex align-items-center">
                        <img th:src="@{/chemlab/img/shared/quit-group.png}" src="../chemlab/img/shared/quit-group.png">
                        <input type="button" value="Quit group" style="cursor: pointer" onclick="alert('确定退出吗？')"/>
                    </li>
                </ul>

            </div>
            <!--lab部分结束-->


            <!--settings部分开始-->
            <div style="padding: 0 2rem">
                <header style="background: #99C8C9 url('../chemlab/img/shared/settings.png') no-repeat 1rem 0.8rem;background-size: 2.2rem 2.2rem;">
                    <span>Settings</span>
                </header>

                <ul class="list-group overflow-scroll" style="padding-bottom: 2rem;margin-bottom: 0">
                    <li class="list-group-item d-flex align-items-center">
                        <img th:src="@{/chemlab/img/shared/add-group.png}" src="../chemlab/img/shared/add-group.png">
                        <input type="button" value="Create a group" style="cursor: pointer" data-bs-toggle="modal"
                               data-bs-target="#addGroupModal"/>
                    </li>
                    <li class="list-group-item d-flex align-items-center">
                        <img th:src="@{/chemlab/img/shared/join-group.png}" src="../chemlab/img/shared/join-group.png">
                        <input type="button" value="Join a group" style="cursor: pointer" data-bs-toggle="modal"
                               data-bs-target="#joinGroupModal"/>
                    </li>
                </ul>
            </div>
            <!--settings部分结束-->


        </aside>
        <!--侧边栏结束-->
    </div>
</div>
<div class="col-12 g-0" style="width: 83.33%!important;">

    <!--导航栏开始-->
    <nav class="nav-black-text g-0 col-12">
        <ol class="breadcrumb" style="margin: 0">
            <li class="breadcrumb-item active">
                <a class="userName" style="cursor: default">[[${session.user.username}]]'s EXPT</a>
            </li>
        </ol>
    </nav>
    <!--导航栏结束-->
</div>
<!--以上都为模板片段-->


<!--模态框模板-->
<div th:remove="tag" th:fragment="modal">
    <!--以下都为模板片段-->
    <!-- 创建 group Modal -->
    <div class="modal fade" id="addGroupModal" tabindex="-1" aria-labelledby="addGroupModal" aria-hidden="true">
        <div class="modal-dialog modal-xl modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header d-flex align-items-center">
                    <h5 class="modal-title" id="addModalLabel">Create a group</h5>
                </div>
                <div class="modal-body">
                    <p>Group Info</p>
                    <form method="post" enctype="multipart/form-data" action="addGroup" class="row"
                          style="height: 67.58%">
                        <div class="col-auto g-0 row">
                            <div class="temp d-flex align-items-center">
                                <label for="groupName" style="padding-right: 1.5rem">Group Name</label>
                                <input id="groupName" type="text" name="groupName" style="height: 3rem" maxlength="30">
                            </div>
                            <div class="temp d-flex align-items-center"  style="margin-top: 3rem">
                                <label for="groupDesc" style="padding-right: 2rem">Description</label>
                                <input id="groupDesc" name="groupDesc" style="height: 3rem;"
                                       maxlength="50">
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer row justify-content-between">
                    <button class="confirm" type="submit" data-bs-dismiss="modal" onclick="alert('上传失败')">Confirm
                    </button>
                    <button class="cancel" type="button" data-bs-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>

    <!-- 加入 group Modal -->
    <div class="modal fade" id="joinGroupModal" tabindex="-1" aria-labelledby="joinGroupModal" aria-hidden="true">
        <div class="modal-dialog modal-xl modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header d-flex align-items-center">
                    <h5 class="modal-title" id="joinModalLabel">Join a group</h5>
                </div>
                <div class="modal-body">
                    <p style="margin-bottom: 2.5rem">Group ID</p>
                    <form method="post" enctype="multipart/form-data" action="joinGroupp" class="row"
                          style="height: 67.58%">
                        <label for="groupID">Enter the Group ID to join your group!</label>
                        <input type="text" id="groupID" name="groupID">
                        <button class="join" type="button" onclick="alert('添加失败')">Join</button>
                    </form>
                </div>
                <div class="modal-footer row justify-content-between">
                    <button class="confirm" type="submit" data-bs-dismiss="modal" onclick="alert('添加失败')">Confirm
                    </button>
                    <button class="cancel" type="button" data-bs-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>

    <!-- 添加 member Modal -->
    <div class="modal fade" id="addMemberModal" tabindex="-1" aria-labelledby="addMemberModal" aria-hidden="true">
        <div class="modal-dialog modal-xl modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header d-flex align-items-center">
                    <h5 class="modal-title" id="addMemberLabel">Add members</h5>
                </div>
                <div class="modal-body">
                    <p style="margin-bottom: 2.5rem">Mail</p>
                    <form method="post" class="row" action="invite"
                          style="height: 67.58%;padding-bottom: 6rem">
                        <label for="mail">Enter the mail to add members to your group!</label>
                        <input type="text" id="mail" name="mail">
                        <button class="join" type="button" onclick="alert('添加失败')">Join</button>
                    </form>
                    <p style="margin-bottom: 4rem;margin-top: 0">Group ID</p>
                    <form class="d-flex align-items-center" style="padding-bottom: 6rem">
                        <input type="text" id="showgGoupID" name="showgGoupID" value="ID: 1234567890wasd" readonly
                               style="background-color:#FFFFFF;font-weight: bold;border: none;box-shadow: none;color: black;">
                        <button class="join text-start" type="button" onclick="alert('复制失败')"
                                style="box-shadow: none;font-weight: normal;color: black;
                            background: #ffffff url('../static/chemlab/img/trivial/copy.png') center right no-repeat;
                            background-size: 2.5rem 2.5rem;padding: 0">
                            Copy
                        </button>
                    </form>
                </div>
                <div class="modal-footer row justify-content-between">
                    <button class="confirm" type="submit" data-bs-dismiss="modal" onclick="alert('添加失败')">Confirm
                    </button>
                    <button class="cancel" type="button" data-bs-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>


    <!--<input type="button" value="autoclose" style="cursor: pointer" data-bs-toggle="modal"-->
    <!--       data-bs-target="#dialogAutoClose">-->
    <!--添加友好提示，不可关闭-->
    <div class="modal fade" id="dialogAutoClose" tabindex="-1" aria-labelledby="dialogClose"
         aria-hidden="true">
        <div class="modal-dialog modal-sm modal-dialog-centered">
            <div class="modal-content" right="wrong">
                <div class="modal-body d-flex align-items-center">
                    <p>Upload failed. The file size must be < 5 MB11111111111.</p>
                </div>
            </div>
        </div>
    </div>

    <!--添加友好弹窗，可关闭-->
    <div class="modal fade" id="dialogClose" data-bs-backdrop="static" tabindex="-1" aria-labelledby="dialogClose"
         aria-hidden="true">
        <div class="modal-dialog modal-sm modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <img th:src="@{/chemlab/img/shared/info-circle.svg}">
                </div>
                <div class="modal-body">
                    <p></p>
                </div>
                <div class="modal-footer row justify-content-between">
                    <button class="yes" type="submit" data-bs-dismiss="modal">Yes</button>
                    <button class="cancel" type="button" data-bs-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
<!--脚本模板-->
<div th:remove="tag" th:fragment="script">
    <script th:src="@{/boostrap/js/bootstrap.bundle.min.js}" src="../boostrap/js/bootstrap.bundle.min.js"
            type="text/javascript"></script>
    <script th:src="@{/chemlab/js/axios.min.js}" src="../chemlab/js/axios.min.js" type="text/javascript"></script>
    <script th:src="@{/chemlab/js/global.js}" src="../chemlab/js/global.js" type="text/javascript"></script>
    <script th:src="@{/chemlab/js/template.js}" src="../chemlab/js/template.js" type="text/javascript"></script>
</div>
</html>